{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cadastrar Bolsista" "cad_bolsista" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
<form method="post" action="/t/">
    {%csrf_token%}
    {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger small">
        {{error}}
    </div>
    {%endfor%}
    <input type="text" name="d" id="d" value="">
    {% for field in form %}
     <div class="form-group">
        <div class="row">
            <div class="col-md-2 col-sm-2">
              {{ field.label_tag }}
            </div>
            <div class="col-md-2 col-sm-2">
                {{ field }}
            </div>

        </div>
            {{ field.errors }}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
{% endblock %}
{%block javascript%}
<script>
    $(function()
    {
        $.ajax({
            url: "{% url 'app:t'%}",
            type: "post",
            datatype: "html",
            data: { var1: "foo", var2: "foo" },
            success: function(response){
                    $("#div").html(response);
                    console.log("OK"); 
            }
        });
    });

</script>
{%endblock%}