{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cadastrar Bolsista" "cad_bolsista" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
<!--<form method="post">
    {%csrf_token%}
    {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger small">
        {{error}}
    </div>
    {%endfor%}
    {% for field in form %}
     <div class="form-group">
        <div class="row">
            <div class="col-md-2 col-sm-2">
              {{ field.label_tag }}
            </div>
            <div class="col-md-8 col-sm-8">
                
                {{ field }} {% if field.name == 'cartao_rfid' %}<p id="rf" >Click aqui, posicione o cartão RFID e aguarde!</p>{%endif%}
                
                
            </div>

        </div>
            {{ field.errors }}
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
-->
{% load bootstrap4%}

<h2>Cadastro Bolsista</h2>
<form method="post" >
    {%csrf_token%}
{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}

    {% if form.is_bound %}

      {% if field.errors %}

      {% if field.name == 'nome' %}
      
        {% render_field field class="form-control col-md-6 is-invalid" %}
        {%else%}
        {% render_field field class="form-control col-md-3 is-invalid" %}
        {%endif%}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
      {% if field.name == 'nome' %}
      
        {% render_field field class="form-control col-md-6 is-valid" %}
        {%else%}
        {% render_field field class="form-control col-md-3 is-valid" %}
        {%endif%}
        {% endif %}
    {% else %}
    {% if field.name == 'nome' %}
      {% render_field field class="form-control col-md-6" %}
    {%else%}
    {% render_field field class="form-control col-md-3" %}
    {%endif%}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
{% if field.name == 'cartao_rfid' %}<p id="rf" >Click aqui, posicione o cartão RFID e aguarde até a leitura ser concluida</p>{%endif%}
  </div>

{% endfor %}
{% buttons %}
      <button type="submit" class="btn btn-primary">Salvar</button>
{% endbuttons %}
</form>

<div id="wait" style="display:none;width:69px;height:89px;;position:absolute;top:50%;left:50%;padding:2px;"><img src="{%static 'img/load.gif'%}" width="64" height="64" /><br>Aguarde</div>

{% endblock %}
{%block javascript%}



    $('input').keyup(function(){
    this.value = this.value.toUpperCase();
});



$(document).ready(function(){
    $(document).ajaxStart(function(){
        $("#wait").css("display", "block");
    });
    $(document).ajaxComplete(function(){
        $("#wait").css("display", "none");
    });
    $("#rf").on('click',function () {
      $.ajax({
        url: '/teste_aja/',
        dataType: 'json',
        success: function (data) {
          if(data.key_value == 'undefined' || data.key_value == 'UNDEFINED'|| data.key_value == ''){
                alert('Erro ao ler cartão, tente novamente.');
            }else{
                
                document.getElementById("id_cartao_rfid").value = data.key_value;
            }
        },
        error: function(data) {
                    alert("Erro na leitura, tente novamente!");
        }
      });

    });
});


{%endblock%}
