{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Lista de Bolsistas" "list_bolsista" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
    <legend>Bolsistas</legend>
<a href="{%url 'app:create_bolsista'%}"><button class="btn btn-primary btn-sm">Cadastrar Bolsista
</button></a>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Orientador</th>
            <th>RFID</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bolsista in bolsistas %}
            <tr>
                <td>{{ bolsista.nome }}</td>
                <td>{{ bolsista.orientador.nome}}</td>
                <td>{{bolsista.cartao_rfid}}</td>
                <td><a href="{%url 'app:update_bolsista' bolsista.id%}"><button class="btn btn-dark btn-sm">Editar</button></a></td>
                <td><a href="{%url 'app:delete_bolsista' bolsista.id%}"><button class="btn btn-danger btn-sm">Remover</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
