{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cadastrar Orientador" "cad_professor" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
<!--<form method="post">
    {%csrf_token%}
    {% for error in form.non_field_errors %}
    <div class="form-group has-errors text-danger small">
        {{error}}
    </div>
    {%endfor%}
    {% for field in form %}
     <div class="form-group">
        <div class="row">
            <div class="col-md-1 col-sm-1">
              {{ field.label_tag }}
            </div>
            <div class="col-md-2 col-sm-2" style="text-transform: uppercase;">
                {{ field }}
            </div>
        </div>
        {{ field.errors }}

    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
-->

{% load bootstrap4%}
<form method="post">
    {%csrf_token%}
{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
<h2>Cadastro Orientador</h2>
  <div class="form-group">
    {{ field.label_tag }}

    {% if form.is_bound %}

      {% if field.errors %}
        {% render_field field class="form-control is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control is-valid" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control col-md-6" %}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %}
</div>
{% endfor %}
{% buttons %}
        <button type="submit" class="btn btn-primary">Salvar</button>
{% endbuttons %}
</form>
{% endblock %}
{%block javascript%}

    $('input').keyup(function(){
    this.value = this.value.toUpperCase();
});

{%endblock%}
