{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Remover Professor" "delete_professor" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
<form method="post">
    {%csrf_token%}

<h2>Deseja realmente excluir {{professor.nome}} ?</h2>                
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{%url 'app:list_professor'%}"><button class="btn btn-primary">Cancelar
</button></a>
    </div>
</form>
{% endblock %}
