{% extends "base.html" %}
{%load static%}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Relatorio por Bolsista" "acesso_bolsista" %}
{% endblock %}


{%block content%}
{% render_breadcrumbs %}
    <legend>Bolsistas</legend>
    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bolsista in bolsistas %}
            <tr>
                <td>{{ bolsista.nome }}</td>
                <td><a href="{%url 'app:acesso_bolsista' bolsista.id%}"><button class="btn btn-success btn-sm">Gerar PDF</button></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
