<!doctype html>
{%load static%}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'img/ICOLEADS.png'%}">

    <title>PROJETO LEDS</title>

    <!-- Bootstrap core CSS -->

        

    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/custom2.css' %}" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{%url 'app:home'%}">LEDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <form class="mt-2 mt-md-0">
            {% if user.is_authenticated %}

            <ul class="navbar-nav">
                <li><a class="nav-link" href="{% url 'app:registrar' %}">Cadastrar Usuário</a></li>
                
                <li><a class="nav-link" href="{% url 'app:sair' %}">Sair</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
            {% endif %}
          </form>
        </div>
      </nav>
    <div class="container-fluid">
      <div class="row" align="center">
          <div class="col-x1-4 col-lg-4 col-md-4 col-sm-12">

            
            <div class="list-group">
              <h4>            <img src="{%static 'img/img_profe.png'%}" height="50px" width="50px">Orientador</h4>
              <a href="{%url 'app:create_orientador'%}" class="list-group-item list-group-item-action">Cadastrar</a>
              <a href="{%url 'app:list_orientador'%}" class="list-group-item list-group-item-action">Listar</a>
          </div>
          </div>
          <div class="col-x1-4 col-lg-4 col-md-4 col-sm-12">
            
            <div class="list-group">
              <h4><img src="{%static 'img/img_bolsi.png'%}" height="50px" width="50px">
            Bolsista</h4>
              <a href="{%url 'app:create_bolsista'%}" class="list-group-item list-group-item-action">Cadastrar</a>
              <a href="{%url 'app:list_bolsista'%}" class="list-group-item list-group-item-action">Listar</a>
          </div>
          </div>
          <div class="col-x1-4 col-lg-4 col-md-4 col-sm-12">
            <div class="list-group">
              <h4><img src="{%static 'img/file_relatorio.png'%}" height="50px" width="50px">
            Relatório</h4>
              <a href="{%url 'app:ac'%}" class="list-group-item list-group-item-action">Por Bolsista</a>
              <a href="{%url 'app:ap'%}" class="list-group-item list-group-item-action">Por Periodo</a>
            </div>
          </div>      
      </div>
    </div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
