<!doctype html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{%static 'img/ICOLEADS.png'%}">

    <title>LEDS LOGIN</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap/bootstrap.min.css'%}" rel="stylesheet">
<link href="{% static 'css/sty.css'%}" rel="stylesheet">
    <!-- Custom styles for this template -->

  </head>

<body style="background: #373435;"">
{%load bootstrap4%}
<img class="col-md-6" style="vertical-align: center;align-items: center;" align="center" src="{%static 'img/img_leds.png'%}" alt="" width="250">
<form method="post" class="form col-md-4">

 <div class="text-center mb-4">
        <img class="mb-4" src="{%static 'img/img_leds.png'%}" alt="" width="250">

</div>
    {%csrf_token%}
{% load widget_tweaks %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}

  <div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
      {{ error }}
    {% endfor %}
  </div>
{% endif %}

{% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}

    {% if form.is_bound %}

      {% if field.errors %}
        {% render_field field class="form-control col-md-12 is-invalid" %}
        {% for error in field.errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% else %}
        {% render_field field class="form-control col-md-12 is-valid" %}
      {% endif %}
    {% else %}
      {% render_field field class="form-control col-md-12" %}
    {% endif %}

    {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text|safe }}</small>
    {% endif %}
</div>
{% endfor %}
{% buttons %}
        <button type="submit" class="col-md-12 btn btn-primary">Entrar</button>
{% endbuttons %}
</form>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>